/* $Id: panels_dnd.css,v 1.3.2.6 2009/05/11 22:48:16 merlinofchaos Exp $ */

#panels-dnd-main {
  margin: 0.5em 0;
}

#panels-dnd-main div.panels-display {
  border: 1px dashed #3D9CD7;
  padding: 0 0 .5em 0;
  background: #D4EBF9;
}

#panels-dnd-main div.panels-display h2.label {
/*  background: transparent; */
  color: #3D9CD7;
  text-align: center;
  font-size: 13pt;
  margin: 0 0 .5em 0;
  padding-right: 16px;
  vertical-align: middle;
}

#panels-dnd-main div.panels-display .pane-add {
  float: left;
  margin: 2px;
  background: #999;
  border: 1px solid #fff;
}

#panels-dnd-main div.panels-display .pane-add-link {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 2px;
  padding: 0;
  border: 1px solid #fff; 
}

#panels-dnd-main div.panels-display .pane-add-link * {
  padding: 0;
  margin: 0;
}

.panel-portlet {
  padding: 0em;
  background: #ffffff;
  border-top: 1px solid #78BAE3;
  border-right: 1px solid #2B6D96;
  border-bottom: 1px solid #2B6D96;
  border-left: 1px solid #78BAE3;
}

#panels-dnd-main .panel-pane,
#panels-dnd-main .helperclass {
  margin: .5em;
}

#panels-dnd-main-form .inline-icon-help {
  vertical-align: middle;
  margin: 2px 1px;
}

.panel-pane.hidden-pane {
  background: #ccc;
}

.panel-portlet .content {
  margin: .5em 0 .5em 0;
  padding: 0 .25em 0 .25em;
  display: none; /* initially hidden */
}

.panel-portlet .grabber {
  width: 100%;
  height: 20px;
  cursor: move;
  margin: 0 0 0.5em 0;
  color: #fff;
  background-color: #3D9CD7;
  overflow: hidden;
}

.panel-portlet.hidden-pane .grabber {
  background-color: #888;
}

.panel-portlet .changed div.grabber {
  background-color: #FFFFDD !important;
  border-bottom: 1px solid #3D9CD7 !important;
  color: black !important;
}

.panel-portlet .changed.hidden-pane div.grabber {
  background-color: #B4B488 !important;
  border-bottom: 1px solid #3D9CD7 !important;
}

.panel-portlet .changed div.grabber span.star {
  font-weight: bold;
  color: #E09010;
}

.panel-portlet .grabber:hover {
  color: #fff;
  background-color: #2F78A5;
}

.panel-portlet.hidden-pane .grabber:hover {
  background-color: #666;
}

.panel-portlet .grabber:active {
  color: #fff;
  background-color: red;
}

.panel-portlet .grabber .text {
  margin-left: 3px;
  font-size: 90%;
}

.panel-portlet .buttons {
  float: right;
  padding: 0;
  margin: 0;
}

.panel-portlet .buttons input {
  margin: 0;
  padding: 0;
  display: inline;
}

.panel-portlet .buttons a img {
  margin: 2px 1px;
}

.panel-portlet .toggle {
  float: left;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-image: url(../images/portlet-expanded.png);
}

.panel-portlet .title {
  font-size:125%;
  cursor: pointer;
}

.panel-portlet .panel-pane-collapsible {
  margin: 0;
  padding: 0;
}

.panel-portlet .toggle-collapsed {
  background-image: url(../images/portlet-collapsed.png);
}

/* CSS to guide a user to a place to drop */
#panels-dnd-main .helperclass {
  border: 1px dashed #f00;
}

#panels-dnd-main .hoverclass {
  border: 1px solid red !important;
}

/* CSS for an area if something can be dropped in it */
.panels-modal-content {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 2px;
  border: 1px solid #000;
  width: 600px;
  text-align: left;
} 

.panels-modal-content .modal-title {
  font-size: 120%;
  font-weight: bold;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.panels-modal-content .modal-header {
  background-color: #2385c2;
  padding: 0 .25em 0 1em;
}

.panels-modal-content .modal-header a {
  color: white;
  float: right;
}

.panels-modal-content .modal-content {
  padding: 0 1em;
  overflow: auto;
  width: 575px;
  height: 400px;
}

.panels-modal-content .modal-form {
}

.panels-modal-content .form-checkboxes .form-item {
  float: left;
  width: 24%;
}

.panels-hidden,
.panels-js-only {
  display: none;
}

a.close {
  color: white;
}

a.close:hover {
  text-decoration: none;
}

a.close img {
  position: relative;
  top: 1px;
}

.panels-section-title {
  clear: left;
  border-bottom: 1px solid #ddf;
  margin-bottom: .5em;
  text-align: left;
}

.panels-section-decorator {
}

.panels-add-content-modal .panels-modal-add-category {
  display: block;
  border-bottom: 1px solid white;
  padding-left: .5em;
  margin-left: -2px;
  position: relative;
}

.panels-add-content-modal .panels-modal-add-category.active {
  background: url(../images/arrow-active.png) center right no-repeat white;
  border-right: none;
}

.panels-add-content-modal {
  background: url(../images/bg-content-modal.png);
  height: 100%;
  margin: -1em;
  padding-top: 1em;
  padding-left: 175px;
  position: relative;
}

.panels-section-columns {
  height: 100%;
  overflow: auto;
}
.panels-section-column {
  width: 48%;
  float: left;
}

.panels-section-column .inside {
  padding: 0 1em;
}

.panels-section-column-categories {
  width: 173px;
  margin-left: -173px;
}

* html .panels-section-column-categories {
  left: 173px;
  position: relative;
}

.panels-section-column-categories .panels-categories-box {
  border-top: 1px solid white;
  margin-bottom: 1em;
}

.panels-section-column-categories .inside {
  padding: 0;
 }

.panels-section-column-categories .content-type-button {
  padding-left: 10px;
}

.panels-modal-add-category {
  color: #5b5b5b !important;
  font-weight: bold;
  line-height: 2em;
}

.panels-section {
  margin-bottom: 1em;
}

.panels-section-column .content-type-button {
  font-size: 8pt;
  line-height: 1em;
  overflow: hidden;
  text-align: left;
}

.content-type-button img {
  border: 2px solid white;
  float: left;
}

.content-type-button img:hover {
  border: 2px solid blue;
}

.content-type-button div {
  width: 85%;
  top: -5px;
  left: 2px;
  float: left;
  padding-left: 3px;
  padding-top: 5px;
}

#panels-preview .modal-throbber-wrapper {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/** modal forms CSS **/
.panels-modal-content .form-item label {
  width: 8em;
  float: left;
}

.panels-modal-content .form-item label.option {
  width: auto;
  float: none;
}

.panels-modal-content .form-item .description {
  clear: left;
}

.panels-modal-content .form-item .description .tips {
  margin-left: 2em;
}

.panels-modal-content .no-float .form-item * {
  float: none;
}

.panels-modal-content .modal-form .no-float label  {
  width: auto;
}

.panels-modal-content .modal-form fieldset,
.panels-modal-content .modal-form .form-checkboxes {
  clear: left;
}

#edit-configuration-nid {
  clear: left;
}

.option-text-aligner .form-item {
  float: left;
  padding: .25em 1em .25em 0;
  margin: 0;
}

.option-text-aligner {
  clear: both;
  width: 100%;
  padding: 0;
  margin: 0;
}


div.panel-pane div.ctools-dropdown-container-wrapper {
  margin-left: -158px;
  margin-top: -4px;
}

html.js div.panels-display-links div.ctools-dropdown-container {
  width: 275px;
}

html.js div.panels-display-links div.ctools-dropdown-container ul li li a {
  width: 250px; 
}

html.js div.panels-display-links div.ctools-dropdown-container ul li a {
  width: 270px;
}

