/* $Id: panels_export.css,v 1.2 2008/07/16 00:09:04 merlinofchaos Exp $ */

div.export-container {
  width: 48%;
  float: left;
  padding: .5em;
}

div.export-container table {
  width: 100%;
}

div.export-container table input,
div.export-container table th,
div.export-container table td {
  padding: 0 0 0 .5em;
  margin: 0;
}