/* $Id: imce-content.css,v 1.1.2.2 2009/01/29 11:34:21 ufku Exp $ */

/*Main container*/
#imce-content {
  font-size: 11px;
  font-family: Verdana, Tahoma;
  margin: 0.1em;
  padding: 0.1em;
}

/*Main sections under imce-content*/
#ops-wrapper {}
#browse-wrapper {
  overflow: hidden;
  height: 24em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  clear: both;
}
#browse-resizer {}
#log-prv-wrapper {
  height: 12em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
}
#content-resizer {}

/*columns of browse-wrapper*/
#navigation-wrapper {
  width: 12em;
  height: 100%;
  overflow: auto;
  float: left;
}
#navigation-resizer {
  height: 100%;
  float: left;
}
#sub-browse-wrapper {
  height: 100%;
  overflow: hidden;
}

/*columns of log-prv-wrapper*/
#log-wrapper {
  height: 100%;
  width: 50%;
  float: left;
  overflow: auto;
  background-color: #eee;
}
#log-resizer {
  height: 100%;
  float: left;
}
#preview-wrapper {
  height: 100%;
  overflow: auto;
}

/*rows of sub-browse wrapper*/
#file-header-wrapper {
  height: 2.2em;
  padding: 0px 22px 0px 1px;
}
#file-list-wrapper {
  height: 20.2em;
  overflow: auto;
  padding: 0px 11px 0px 1px;
}
#dir-stat {
  font-size: 0.9em;
  height: 1.8em;
  padding: 0em 0.5em;
  background-color: #f5f5f5;
}

/*Navigation tree (ul)*/
#navigation-tree {
  margin: 0.1em;
  padding: 0em;
}
#navigation-tree ul {
  margin: 0.1em 0em 0.1em 1.5em;
  padding: 0em;
}
#navigation-tree li {
  padding: 0.1em;
  margin: 0em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(collapsed.png) no-repeat 0.3em 0.6em;
  white-space: nowrap;
}
#navigation-tree li.expanded {
  background-image: url(expanded.png);
}
#navigation-tree li.leaf {
  background-image: url(leaf.png);
}
#navigation-tree li.loading {
  background-image: url(loading.gif);
  background-position: 0em 0.2em;
}
#navigation-tree li span.expander {
  font-size: 12px;
  cursor: pointer;
  margin-right: 0.1em;
}
#navigation-tree li a {
  display: inline;
}
#navigation-tree li a.folder {
  margin-left: 0.2em;
  padding-left: 18px;
  background: transparent url(folder.png) no-repeat 0em 0em;
}
#navigation-tree li a.active {
  font-weight: bold;
  background-image: url(folder-open.png);
}

/*File list and header. (Accessible by #file-list and #file-header. Both have the classname "files")*/
table.files {
  table-layout: fixed;
  width: 99%;
  margin: 0.1em 0em 0em 0em;
}
table.files td {
  overflow: hidden;
  border-top: 1px solid #cc9;
  border-bottom: 1px solid #cc9;
  padding: 0.1em 0.2em;
}
table.files td.name {
  min-width: 15em;
  white-space: nowrap;
}
table.files td.size {
  width: 6.5em;
  text-align: right;
}
table.files td.width {
  width: 4em;
  text-align: right;
}
table.files td.height {
  width: 4em;
}
table.files td.date {
  width: 12.5em;
  text-align: center;
}
table.files tr {
  border: none;
}
table.files tbody {
  border: none;
}
#file-header td {
  font-weight: bold;
  border: none;
}
#file-header td.asc {
  color: #f60;
}
#file-header td.desc {
  color: #f63;
}
#file-list tr:hover {
  background-color: #f5f5f5;
}
#file-list tr.selected {}
#file-list td.name img {
  vertical-align: middle;
  margin-right: 0.2em;
}


/*File operations*/
#op-items {
  min-height: 15px;
}
#op-contents {
  text-align: center;
}
ul#ops-list {/*has classes .secondary and .tabs)*/
  margin: 0.4em;
  padding: 0;
  float: none;
  text-align: center;
  border: none;
}
.op-content {
  width: 50%;
  min-width: 300px;
  margin: 0em auto;
  text-align: left;
  padding: 0.3em;
  display: none;
}
.op-content label, .op-content .form-checkboxes, .op-content .form-checkboxes .form-item {
  display: inline;
}
.op-content .form-submit, .op-content .form-item, .op-content form {
  margin: 0.2em !important;
}
.op-content input {
  font-size: 1em;
}
#ops-list li.loading a, .op-content input.loading {
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;
}

/*Log messages*/
#log-wrapper div {
  padding: 0em;
  margin: 0.1em 0.5em;
  border: none;
  background: none;
}
#log-wrapper span.time {
  color: #444;
}
#log-wrapper .status {}
#log-wrapper .warning {}
#log-wrapper .error {}
a#log-clearer {
  font-size: 0.9em;
}

/*resizers*/
.y-resizer {
  height: 1px;
  cursor: n-resize;
  background: #d4d0c8 url(y-grippie.png) no-repeat center top;
}
.x-resizer {
  width: 1px;
  cursor: e-resize;
  background: #d4d0c8 url(x-grippie.png) no-repeat left center;
}

/*Help box*/
#help-box {
  position: absolute;
  text-decoration: none !important;
  color: #f36;
  overflow: hidden;
}
#help-box-content {
  display: none;
  color: #444;
  background-color: #f5f5f5;
  border: 1px dashed #000;
  padding: 5px;
}
#help-box:hover {
  overflow: visible;
}
#help-box:hover #help-box-content {
  display: block;
}

#file-preview {
  text-align: center;
}
.imce-hide, .js #forms-wrapper {
  display: none;
}

/*Standalone page*/
body.imce {
  padding: 0.1em 0.4em;
  background-image: none;
}
body.imce, body.imce #imce-content {
  color: #333;
  background-color: #fff;
}