/* $Id: task-handlers.css,v 1.7 2009/03/31 03:35:35 merlinofchaos Exp $ */

.delegator-operations {
  text-align: right;
}

.delegator-breadcrumb {
  font-size: 120%;
}

.delegator-current {
  font-weight: bold;
}

.delegator-locked {
  color: red;
  border: 1px solid red;
  padding: 1em;
}

.delegator-owns-lock {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px solid #F0C020;
  padding: 1em;
}

.delegator-operations div {
  display: inline;
}

.delegator-disabled {
  color: #ccc;
}

.delegator-operations select {
  width: 10em;
}

.delegator-changed-col {
  width: .1em;
  white-space: nowrap;
  margin: 0;
}

.delegator-changed-col .tabledrag-changed {
  position: relative;
  top: .2em;
  font-size: 150%;
}

#delegator-task-list-arrange a.tabledrag-handle {
  padding-right: .75em;
}

#delegator-task-list-arrange td {
  vertical-align: top;
}

#delegator-task-list-arrange tr.delegator-collapsible td {
  padding-left: 4em;
}

#delegator-task-list-arrange tr.draggable .ctools-collapsible-content {
  display: none;
}

/*
#delegator-task-list-arrange tr.delegator-collapsible div.ctools-collapsible-content {
  display: block;
}
*/

html.js .delegator-operations {
  width: 170px;
}

div.delegator-task-handler-operations {
  display: none;
}

html.js div.delegator-task-handler-operations {
  display: block;
}

