/* $Id: gallery_filter.css,v 1.3.2.2 2007/11/27 18:10:32 profix898 Exp $ */

div.giImageBlock.left {
	float: left;
	margin: 1em;
}

div.giImageBlock.right {
	float: right;
	margin: 1em;
}

div.giImageBlock.nowrap {
	float: none;
	margin: 1em
}

.giImageBlock-clear-both {
  clear: both;
}
