table
{
  border-spacing: 0px;
  vertical-align: bottom;
}

tr
{
  vertical-align: bottom;
}

td
{
  padding: 0px;
  vertical-align: bottom;
  
}

h1
{
  color: #f00;
}

h2
{
  color: #0f0;
}

h3
{
  color: #00f;
}
