/* $Id: style.css,v 1.23 2007/12/17 15:05:09 goba Exp $ */

/*
** HTML elements
*/
html,body
{
  height:100%;
  margin:0px;
  padding:0px
  color: #000;
  font: normal 10pt Tahoma;
}


html,body {

/*  background: #ffffff url(bodybg.jpg) repeat-y center;*/
}

#regionleft li
{
/*  padding-left: 5px;*/
}

#regionleft a:link
{
  background-color:#ffffff;
  background-position: 0% 25%;
  color: #369;
  padding-left: 15px;
  font: bold 8pt Tahoma;
}


#regionleft a:visited
{
  background-color:#ffffff;
  background-position: 0% 25%;
  color: #369;
  padding-left: 15px;
  font: bold 8pt Tahoma;
}

#regionleft a.active
{
  background: #ffffff url(strelka.gif) no-repeat;
  background-position: 0% 50%;
  color: #369;
  padding-left: 15px;
  font: bold 8pt Tahoma;
}


#nice-menu-3 a:link
{
  background: #eee;
  padding-left: 10px;
  font: bold 8pt Tahoma;
}

#nice-menu-3 a:active
{
  background: #eee;
  padding-left: 10px;
  font: bold 8pt Tahoma;
}

#nice-menu-3 a:visited
{
  background: #eee;
  padding-left: 10px;
  font: bold 8pt Tahoma;
}



#contactinfo-block a:link
{
  background: #fff;
  color: #036;
  padding-left: 0px;
  font: normal 8pt Tahoma;
}


#contactinfo-block a:visited
{
  background: #fff;
  color: #036;
  padding-left: 0px;
  font: normal 8pt Tahoma;
}

#contactinfo-block a.active
{
  background: #fff;
  color: #036;
  padding-left: 0px;
  font: normal 8pt Tahoma;
}


p.contactinfo
{
  font: normal 8pt tahoma;
  color: #336699;
  line-height: 1.5;
}

div.contentarea
{
  width:700px;
}

img.image-align-left
{
  float: left;
  margin: 20px;
}

#regionleft
{
  font: normal 8pt Tahoma;
}

#regionright
{
  font: normal 8pt Tahoma;
}

table.bottom
{
  /*background: #ffffff url(bodybg.jpg) repeat-y center;*/
  height: 60px;
}

td.bottom
{
  height: 60px;
  background: #ffffff url(bottom-bg.jpg) no-repeat bottom;
/*  border: 1px solid black;*/
}

td.leftblock
{
  width: 200px;
  max-width: 200px;
  padding-left: 5px;
}

td.rightblock
{
  width: 700px;
  max-width: 700px !important;
}

td.newsblock
{
  width: 200px;
  max-width: 200px;
}



#indexpage td.rightblock
{
  width: 546px;
  max-width: 560px !important;
}

#main li
{
  list-style-image: url('li-red.bmp');
}

tr.odd td, tr.even td {
  padding: 0px;
}

td.bar-top-line
{
  background: #ffffff url(bars/bar-line-top.bmp) repeat-x;
}

td.bar-left-line
{
  background: #ffffff url(bars/bar-line-left.bmp) repeat-y;
  width: 11px !important;
}

td.bar-right-line
{
  background: #ffffff url(bars/bar-line-right.bmp) repeat-y;
  width:11px !important;
}

td.bar-bottom-line
{
  background: #ffffff url(bars/bar-line-bottom.bmp) repeat-x;
  height: 15px;
}

td.bar-top-left
{
  background: #ffffff url(bars/bar-top-left.bmp) no-repeat;
  height: 10px;
  width: 10px;
}


td.bar-top-right
{
  background: #ffffff url(bars/bar-top-right.bmp) no-repeat;
  height: 10px;
  width: 10px;
}

td.bar-bottom-left
{
  background: #ffffff url(bars/bar-bottom-left.bmp) no-repeat;
  height: 15px;
  width: 10px;
}


td.bar-bottom-right
{
  background: #ffffff url(bars/bar-bottom-right.bmp) no-repeat;
  height: 15px;
  width: 10px;
}

/* ------------------- */

td.mainbar-left-line
{
  background: #ffffff url(mainbars/bar-line-left.bmp) repeat-y;
  width:50px !important;
}

td.mainbar-right-line
{
  background: #ffffff url(mainbars/bar-line-right.bmp) repeat-y;
  width:50px !important;
}

td.mainbar-bottom-line
{
  background: #ffffff url(mainbars/bar-line-bottom.bmp) repeat-x;
}

td.mainbar-bottom-left
{
  background: #ffffff url(mainbars/bar-bottom-left.bmp) no-repeat;
  height: 50px;
  width: 50px;
}


td.mainbar-bottom-right
{
  background: #ffffff url(mainbars/bar-bottom-right.bmp) no-repeat;
  height: 50px;
  width: 50px;
}

/* ------------------- */




h1.mainheader
{
  font-weight: bold;
  color: #369;
  font-size: 2.1em;
}
h2.mainheader
{
  font-weight: bold;
  color: #369;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-weight: bold;
  color: #369;
  font-size: 1.1em;
  margin-top: 1px;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
  color: #CA5003;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
/*  font-weight: bold;*/
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  /*font-size: 1em;*/
}
.form-item label {
  font-size: 1em;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header, #content {
  width: 1000px;
  padding: 5px;
}
#header {
  background-color: #ffffff;
}
#logo {
  vertical-align: top;
  border: 0;
}
#logo img {
  float: left; /* LTR */
  padding: 0 1em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0; /* LTR */
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0; /* LTR */
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf; /* LTR */
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: top;
  color:#CA5003;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
  color: #CA5003;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 ;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0px;
}
#mission, .node .content, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font: normal 8pt Tahoma;
}
.messages {
  background-color: #eee;
  /*color: #f00;*/
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  background-color: #fff;
  width: 200px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  
  /*background-color: #eee;
  padding: 1em;
  font-size: 0.8em;*/
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
#regionleft .title, .title a {
  font: bold 14pt tahoma;
  color: #89a5c4;
  /*margin: 0 auto;*/  /* decrease default margins for h<x>.title */
  margin-top: 10px;
  padding: 0px;
}

#regionright .title, .title a {
  font: bold 14pt tahoma;
  color: #89a5c4;
  /*margin: 0 auto;*/  /* decrease default margins for h<x>.title */
  padding: 0px;
}

.title, .title a {
  font: bold 14pt tahoma;
  color: #0b4070;
  /*margin: 0 auto;*/  /* decrease default margins for h<x>.title */
  margin-top: 13px;
  padding: 0px;
}
.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0; /* LTR */
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #abc;
  padding: .5em;
  margin-bottom: 1em;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: normal;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right; /* LTR */
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

.block-table
{
  /*background: #ffffff url(lines/line200.bmp) no-repeat left bottom;*/
  border: 0px;
  padding: 0px;
  top: 10px;
}

#header-region .block-table
{
  padding: 0px;
  top: 0px;
  margin: 0px;
  vertical-align:middle;
}

.block-table-nice_menus
{
  background: #ffffff url(lines/line200.bmp) no-repeat center bottom;
  /*border: 0px solid #f00;*/
  padding: 0px;
}

.front-mainlink
{
	font: normal 8pt tahoma;
}

td.front-mainlink
{
	background: #B9CAD9;
	height: 35px;
}

td.front-doplink
{
	background: #D9E0DF;
	height: 85px;
}

td.front-toptext
{
	font: normal 8pt tahoma;
	background: #D9E0DF;
	height: 40px;
}



a.front-mainlink
{
	font: bold 10pt tahoma;
	text-decoration:none;
}

.front-doplink
{
	font: normal 8pt tahoma;
}

.status
{
  font: bold 10pt tahoma;
  color: #f00;
}

#main li.nograph
{
  list-style-type: none;
  list-style-image: none;
  line-height: 1.5;
}

#askformnotitle h2.title
{
  /*color: #f00;*/
}

p.indention
{
  text-indent: 1.5em;
}

p
{
  margin-top: 0px;
  margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 
{
  margin-bottom:0px;
}