/* $Id: flexible-admin.css,v 1.1.2.3 2009/04/18 02:01:57 merlinofchaos Exp $ */

div.panel-flexible-edit-layout .pane-add-link,
.panel-flexible-edit-layout .panel-pane {
  display: none;
}

.panel-flexible-edit-layout div.panels-display h2.label {
  padding-right: 0;
}

.panel-flexible-edit-layout .panels-flexible-column-inside {
  margin: 5px;
  border: 1px dotted green;
}

.panels-flexible-column-inside {
  overflow: hidden;
}

.panel-flexible-edit-layout .panels-flexible-column > .flexible-title {
  color: green;
}

.panel-flexible-edit-layout .panels-flexible-row-inside {
  margin: 5px;
  border: 1px dotted blue;
}

.panel-flexible-edit-layout .panels-flexible-row > .flexible-title {
  color: blue;
}

.panel-flexible-no-edit-layout .flexible-layout-only {
  display: none;
}

.panel-flexible-edit-layout .flexible-title {
  text-align: center;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
}

#panels-flexible-toggle-layout {
  text-align: right;
}

.panel-flexible-no-edit-layout .panels-flexible-splitter {
  display: none;
}

.panels-flexible-splitter span {
  display: none;
}

.panels-flexible-splitter {
  width: 11px;
  float: left;
  margin-left: -7px;
  margin-right: -6px;
	cursor: e-resize;	/* in case col-resize isn't supported */
	cursor: col-resize;
  height: 30px;
  position: relative;
  z-index: 1;
  background: url(grippie-vertical.png) center center no-repeat #eee;
  border: 1px solid #ccc;
}

.flexible-splitting {
  border: 2px dotted yellow !important;
  margin: -2px !important;
}

.flexible-splitter-hover-box {
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid black;
  width: 60px;
  height: 2em;
  text-align: center;
  line-height: 2em;
}

}