/* $Id: flexible.css,v 1.1.2.3 2009/03/26 17:06:47 merlinofchaos Exp $ */

.panel-flexible { 
/*  overflow: hidden;  */
}

.panel-flexible {
  width: 99.9%;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-flexible .panel-separator {
  margin: 0 0 1em 0;
}

/* ---- */

.panel-flexible {
  width: 99.9%;
}

.panels-flexible-region { 
  float: left; 
  padding: 0;
  /* margin: 1px 0 .5em 0; */
  overflow: hidden;
}

.panels-flexible-row {
  padding: 0;
  margin: 0;
  padding-bottom: .5em;
  width: 99.9%;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-region-inside {
  padding-right: .5em;
  padding-left: .5em;
}

.panesl-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-flexible .panel-separator {
  margin: 0 0 1em 0;
}
