body {
	width: 100%; height: 100%; padding: 0; margin: 0; 
	background-image: url(../imgs/bg_l.jpg), url(../imgs/bg_r.jpg);
    background-repeat: no-repeat, no-repeat;  
    background-position: top left, top right;
    background-size: auto;
    min-height: 1000px;
}
html {padding: 0; margin: 0;}

.center {max-width: 1170px; margin: 0 auto; padding: 0;}

/* header area */
header > .center {display: flex; justify-content: space-between;}