/* $Id: faq.css,v 1.1.2.6.2.4 2008/12/22 01:34:50 snpower Exp $ */
.faq-category-indent {
  padding-left: 20px;
}

.faq-more-link {
  font-size: 0.85em;
  margin-left: 30em;
  margin-top: 0;
  margin-bottom: -1.25em;
  text-align: right;
}

.faq-top-link {
  font-size: 0.8em;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 1.0em;
}

.faq-question {
  padding-top: 5px;
  padding-left: 20px;
}

.faq-answer {
  padding-left: 40px;
}

.faq-dl-hide-answer {
  padding-bottom: 15px;
}

img.faq-tax-image {
  float: left;
  padding: 0px 3px 0px 3px;
}

div.faq-detailed-question {
  font-style: italic;
}
