/*$Id: mymod.css,v 1.2 2006/11/16 16:57:56 ber Exp $*/
/* mymod default example stylesheet **/

.wrapper.mymod {
  text-align : justify;
  margin-right: 1em;
}

.mymod.level1 {
  font-size : 1em;
}
.mymod.level2 {
  font-size : 1.2em;
}
.mymod.level3 {
  font-size : 1.4em;
}
.mymod.level4 {
  font-size : 1.6em;
}
.mymod.level5 {
  font-size : 1.8em;
}
.mymod.level6 {
  font-size : 2em;
}
.mymod.level7 {
  font-size : 2.2em;
}
.mymod.level8 {
  font-size : 2.4em;
}
.mymod.level9 {
  font-size : 2.6em;
}
.mymod.level10 {
  font-size : 2.8em;
}

