/* $Id: content-module.css,v 1.1.2.5 2008/10/27 16:58:38 yched Exp $ */

/* Node display */
.field .field-label,
.field .field-label-inline,
.field .field-label-inline-first {
  font-weight:bold;
}
.field .field-label-inline,
.field .field-label-inline-first {
  display:inline;
}
.field .field-label-inline {
  visibility:hidden;
}

/* Node form display */
.node-form .content-multiple-table td.content-multiple-drag {
  width:30px;
  padding-right:0;
}
.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{
  padding-right:.5em;
}

.node-form .content-add-more .form-submit{
  margin:0;
}

.node-form .number {
  display:inline;
  width:auto;
}
.node-form .text {
  width:auto;
}

/* CSS overrides for Views-based autocomplete results.
  - #autocomplete uses "white-space:pre", which is no good with
    Views' template-based rendering
  - Field titles are rendered with <label> in default templates,
    but we don't want the 'form' styling it gets under .form-item
*/
.form-item #autocomplete .reference-autocomplete {
  white-space:normal;
}

.form-item #autocomplete .reference-autocomplete label {
  display:inline;
  font-weight:normal;
}

/* 'Manage fields' overview */
#content-field-overview-form .advanced-help-link,
#content-display-overview-form .advanced-help-link {
  margin: 4px 4px 0 0;
}
#content-field-overview-form .label-group,
#content-display-overview-form .label-group,
#content-copy-export-form .label-group {
  font-weight: bold;
}
table#content-field-overview .label-add-new-field,
table#content-field-overview .label-add-existing-field,
table#content-field-overview .label-add-new-group {
  float: left;
}
table#content-field-overview tr.content-add-new .tabledrag-changed {
  display: none;
}
table#content-field-overview tr.content-add-new .description {
  margin-bottom: 0;
}
table#content-field-overview .content-new {
  font-weight: bold;
  padding-bottom: .5em;
}

/* 'Advanced help' pages */
.advanced-help-topic h3,
.advanced-help-topic h4,
.advanced-help-topic h5,
.advanced-help-topic h6  {
  margin:1em 0 .5em 0;
}
.advanced-help-topic dd {
  margin-bottom: .5em;
}
.advanced-help-topic span.code {
  background-color:#EDF1F3;
  font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
  font-size:0.9em;
  padding:1px;
}
.advanced-help-topic .content-border {
  border:1px solid #AAA
}